body {
    background-color: #020228;
}

h1 {
    color: #ffb700;
}

h2 {
    color: antiquewhite;
}

h3 {
    background-color: rgb(229, 228, 228);
    text-align: center;
    color: #020228;
}

.dias > ul {
    background-color: rgb(229, 228, 228);
}

.dias > ul > li {
    color: black;
}

ul {
    border: 2px solid #ffb700;
}

li {
    color: antiquewhite;
}

.red li:nth-of-type(2) {
    color: #ff0000;
}