@import url('https://fonts.googleapis.com/css2?family=Geostar&family=Roboto&display=swap');

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.p2 {
    font-family: 'Geostar';
}

.p3 {
    font-family: 'Roboto';
}